.footer{
    display:flex;
    /* place-items:center; */
    place-content: center;
    flex-direction:column;
    /* margin: 0 auto; */
    /* justify-content:space-between; */
    /* align-items:center; */
    /* gap:1rem; */
    font-family: var(--font-family-7);
    /* max-width:99vw; */
    padding: 1rem;
    margin: 0 auto;
    background-color:var(--color-1);
    color:white;
}

.footer a {
    color:black;
}

.footer__image{
    width:4rem;
    aspect-ratio:16/9;
    background-size: cover;
    /* align-self: flex-start;     */
}

.footer__details {
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(min(20rem,100%),1fr));
    justify-content:center;
    align-items:center;
    gap:1rem;
    font-size:1.6rem; 
    max-width:99vw;
    text-align:center;
}

.footer__details-links{
    display:flex;
    flex-direction: column;
    /* justify-content:flex-start; */
    align-items:center;
    text-align:start;
    gap:1rem;
}


.footer__copyright{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:1rem;
    font-size:1.6rem;
}

.footer__copyright-links > * {
    margin-left: 1rem;
}

@media (max-width:76rem){
    /* .footer__details{
        flex-direction: column;
        justify-content: center;
    } */
    .footer__copyright{
        flex-direction: column;
        align-items:flex-start;
    }
}