.hero__pricing{
    text-align:center;
    // font-family: var(--font-family-3);
    padding:1.5rem 2rem;
    font-family:var(--font-family-4);
    @media (max-width:76rem){
            /* text-align: left; */
    }

    h1 {
        padding:1rem 1.2rem;
        margin:1rem;
        font-size: 6rem;
        font-weight:800;
        // font-family:var(--font-family-7);
        color:rgba(5, 64, 159, 0.9);
    }
    h3 {
        font-size:1.8rem;
        font-family: var(--font-italic);
        font-style: italic;
        color:rgb(133, 135, 129);
        font-weight:300;
        padding:1rem 1.2rem;
        margin:0.5rem;
        /* max-width:80vw; */
        @media (max-width:76rem){
            max-width:80vw;
        }

    }
    .hero__pricing_details{
        display:flex;
        justify-content: center;
        align-items: center;
        gap:3rem;
        padding:1rem;
        /* margin:4rem; */
        @media (max-width:76rem){
            flex-direction: column;
            align-items: center;
        }

        .hero__pricing-details-c{

            &:first-child{
            background-color: black;
            color:white;
            border-radius:10px;
            /* box-shadow: 1px 2px 2px rgb(212, 211, 211); */
            }

            &:nth-child(2){
                background-color: rgba(0,0,0, 0.04);
                color:black;
                /* box-shadow: 1px 2px 2px 2px rgb(200, 199, 199); */
                border-radius:10px;
            
            }

            &:hover{
                animation: bounce 5s infinite alternate;
            }

            @keyframes bounce {
                to {
                    transform: translateY(-20px);
                }
            }

        }
    }
    
}

.hero__pricing > h1 {
    padding:1rem 1.2rem;
    margin:1rem;
    font-size: 6rem;
    font-weight:800;
    // font-family:var(--font-family-7);
    color:rgba(5, 64, 159, 0.9);
}

.hero__pricing > h3 {
    font-size:1.8rem;
    font-family: var(--font-italic);
    font-style: italic;
    color:rgb(133, 135, 129);
    font-weight:300;
    padding:1rem 1.2rem;
    margin:0.5rem;
    /* max-width:80vw; */
}

.hero__pricing_details{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    padding:1rem;
    /* margin:4rem; */
}

.hero__pricing_details .hero__pricing-details-c:first-child{
    background-color: black;
    color:white;
    border-radius:10px;
    /* box-shadow: 1px 2px 2px rgb(212, 211, 211); */

}

.hero__pricing_details .hero__pricing-details-c:nth-child(2){
    background-color: rgba(0,0,0, 0.04);
    color:black;
    /* box-shadow: 1px 2px 2px 2px rgb(200, 199, 199); */
    border-radius:10px;

}

.pricing__cards{
    /* padding:1rem 2rem; */
    /* margin:1rem; */
    border: 2px solid transparent;
    min-height:80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* width:40rem; */
    max-width:80vw;
    border-radius: 8px;
    padding:1.5rem 1rem;

    h1{
        font-size: 3rem;
        font-weight:400;
        /* font-style: bold; */
        // font-family: var(--font-family-3);
        margin: 0 1.2rem;
        text-size-adjust: 0.5;
    }

    h2{
        font-size: 2.5rem;
        font-weight:700;
        /* font-style: italic; */
        margin: 0 1.2rem;
        padding-bottom: 2rem;
        border-bottom: 0.3px solid #abaaaa;
        width:90%;
        text-align:left;
        color:rgba(5, 64, 159, 0.9);
    }
    
    h3{
        font-size: 1.9rem;
        font-weight:100;
        /* font-style: italic; */
        text-align: left;
        align-self: flex-start;
        margin: 0 1.2rem;
    }
    
    
    p{
        font-size: 2rem;
        font-weight:300;
        /* font-style: italic; */
        margin: 0 1.2rem;
        // font-family:var(--font-family-3);
        text-align:left;
        /* width:80vw; */
    }
     
    button{
        padding:1rem 1.5rem;
        /* margin:1rem; */
        // font-family: var(--font-family-3);
        font-size:1.6rem;
        background-color: rgba(5, 64, 159, 0.9);    ;
        color:white;
        border-radius:5px;
        border:2px solid transparent;
        align-self: center;
        width:90%;
        /* margin: 0 3rem; */
    } 
}
////////////
/// 
/// 
/// 
/// 
/// 
/// 
/// 

.hero__pricing-details-c:hover{
    animation: bounce 5s infinite alternate;
}

@keyframes bounce {
    to {
        transform: translateY(-20px);
    }
}

.pricing__cards h1{
    font-size: 3rem;
    font-weight:400;
    /* font-style: bold; */
    // font-family: var(--font-family-3);
    margin: 0 1.2rem;
    text-size-adjust: 0.5;
}



.pricing__cards h2{
    font-size: 2.5rem;
    font-weight:700;
    /* font-style: italic; */
    margin: 0 1.2rem;
    padding-bottom: 2rem;
    border-bottom: 0.3px solid #abaaaa;
    width:90%;
    text-align:left;
    color:rgba(5, 64, 159, 0.9);



}


.pricing__cards h3{
    font-size: 1.9rem;
    font-weight:100;
    /* font-style: italic; */
    text-align: left;
    align-self: flex-start;
    margin: 0 1.2rem;

}


.pricing__cards p{
    font-size: 2rem;
    font-weight:300;
    /* font-style: italic; */
    margin: 0 1.2rem;
    // font-family:var(--font-family-3);
    text-align:left;

    /* width:80vw; */
}
.pricing__cards button{
    padding:1rem 1.5rem;
    /* margin:1rem; */
    // font-family: var(--font-family-3);
    font-size:1.6rem;
    background-color: rgba(5, 64, 159, 0.9);    ;
    color:white;
    border-radius:5px;
    border:2px solid transparent;
    align-self: center;
    width:90%;
    /* margin: 0 3rem; */
}


// @media (max-width:76rem)
// smaller screen sizes 
// .hero__pricing{
    /* text-align: left; */
// }

// .hero__pricing h3{
    /* text-align: left; */
    // max-width:80vw;
// }
// .hero__pricing_details{
    // flex-direction: column;
// }
// .hero__pricing_details{
    // align-items: center;
// }
