/* --color-primary: #c69963;
--color-primary-dark: #B28451;
--color:red;
--color-secondary: #101d2c;

--color-grey-light-1: #f9f7f6;
--color-grey-light-2: #aaa;

--color-grey-dark-1: #54483A;
--color-grey-dark-2: #6D5D4B;

/* FONT VARIABLES */
/* --font-primary: 'Nunito', sans-serif;
--font-display: 'Josefin Sans', sans-serif; */

/* RESPONSIVE BREAKPOINTS */
/* --bp-largest: 75em;   // 1200px
--bp-large: 62.5em;   // 1000px
--bp-medium: 50em;    // 800px;
--bp-small: 37.5em;    // 600px; */ 

/* *,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} */

/* html {
    box-sizing: border-box;
    font-size: 62.5%; /* 10px/16px = 62.5% -> 1rem = 10px

    
    line-height: 1.6;
    /* margin: 0 auto; 
    font-family: 'Quicksand', sans-serif;
    --color-blue: #29d;
    --color-green: #50C878;
    width:140rem;
    margin:0 auto;
    overflow-x:hidden;
} */



 /* body { */
  /* font-family: --font-primary; */
  /* font-family: var(--font-family-4); */
  /* color: --color-grey-dark-2; */
  /* color: --color-grey-light-1; */
  /* font-weight: 300; */
  /* line-height: 1.6; */
  /* margin: 0 auto; */ 
  /* background-color: white; */
  /* overflow-x: hidden; */
/* }  */


/* @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Satisfy&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alumni+Sans+Inline+One&family=Anton&family=Quicksand:wght@300;400&family=Satisfy&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,200;0,300;0,400;0,500;1,100;1,400&display=swap');


:root{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
--font-family-1: 'Abril Fatface', serif;
--font-family-2: 'Alumni Sans Inline One', sans-serif;
--font-family-3: 'Oxygen', Quicksand;
--font-family-4: 'Quicksand', sans-serif;
--font-family-5: 'Satisfy', cursive;
--font-family-6: 'Sedgwick Ave Display', cursive;
--font-italic: 'Edu TAS Beginner', Oxygen;
--font-family-7:'Noto Sans Display', Oxygen;
--color-1 : rgba(5, 64, 159, 0.9);
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
    font-size: 62.5%;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    --color-blue: #29d;
    --color-green: #50C878;
    margin:0 auto;
    /* vertical-align: baseline; */
    /* overflow-x: hidden; */
    max-width:150rem;
  }



  

  /* html {
    font-size: 62.5%;
    line-height: 1.6;
        font-family:var(--font-family-4);
    --color-blue: #29d;
    --color-green: #50C878;
    max-width:150rem;
    margin:0 auto;
  } */


  /* html { */
    /* font-size: 62.5%; */
    /* line-height: 1.6; */
    /* margin: 0 auto; */
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family:var(--font-family-4); */
    /* --color-blue: #29d; */
    /* --color-green: #50C878; */
    /* max-width:150rem; */
    /* margin:0 auto; */
    /* vertical-align: baseline; */
    /* background-color:var(--color-green); */
  /* } */

  /* 
 body{
  margin:0 auto;
  background-color: white;

 } */
  

body {
  font-family: --font-primary;
  color: --color-grey-dark-2;
  color: --color-grey-light-1;
  font-weight: 300;
  line-height: 1.6;
  margin: 0 auto;
  background-color: white;
  overflow-x: hidden;
}


img{
  width:100%;
  height:auto;
}

/* .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, min(50rem,100%));
  place-items:center;
  place-content:center;
  width: var(--max-width);
  max-width: 100%;
} */