

.container {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, min(50rem,100%)); */
  place-items:center;
  place-content:center;
  width: 150rem;
  max-width: 99vw;
  font-family: var(--font-family-5);
} 